<div class="angular-meditor">
  <div class="angular-meditor-toolbar" style="top: {{ position.top }}px; left: {{ position.left }}px" ng-class="{ 'angular-meditor-toolbar--show': model.showToolbar, 'angular-meditor-toolbar--bottom': position.below }">
    <ul>
      <li>
        <button type="button" ng-click="SimpleAction('bold')" class="meditor-button-bold" ng-class="{ 'bold': 'meditor-button--active' }[styles.fontWeight]">
          B
        </button>
      </li>
      <li>
        <button type="button" ng-click="SimpleAction('italic')" class="meditor-button-italic" ng-class="{ 'italic': 'meditor-button--active' }[styles.fontStyle]">
          I
        </button>
      </li>
      <li>
        <button type="button" ng-click="SimpleAction('underline')" class="meditor-button-underline" ng-class="{ 'underline': 'meditor-button--active' }[styles.textDecoration]">
          U
        </button>
      </li>
      <li>
        <button type="button" ng-click="alignment = 'left'" class="meditor-button-align-left">
          <svg fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 15H3v2h12v-2zm0-8H3v2h12V7zM3 13h18v-2H3v2zm0 8h18v-2H3v2zM3 3v2h18V3H3z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </button>
      </li>
      <li>
        <button type="button" ng-click="alignment = 'center'" class="meditor-button-align-center" >
          <svg fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
            <path d="M7 15v2h10v-2H7zm-4 6h18v-2H3v2zm0-8h18v-2H3v2zm4-6v2h10V7H7zM3 3v2h18V3H3z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        </button>
      </li>
      <li>
        <button type="button" ng-click="alignment = 'right'" class="meditor-button-align-right">
          <svg fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 21h18v-2H3v2zm6-4h12v-2H9v2zm-6-4h18v-2H3v2zm6-4h12V7H9v2zM3 3v2h18V3H3z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        </button>
      </li>
      <li>
        <button type="button" ng-click="alignment = 'justify'" class="meditor-button-align-justify">
          <svg fill="#FFFFFF" height="18" viewBox="0 0 24 24" width="18" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 21h18v-2H3v2zm0-4h18v-2H3v2zm0-4h18v-2H3v2zm0-4h18V7H3v2zm0-6v2h18V3H3z"/>
            <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        </button>
      </li>
      <li>
        <button ng-click='showFontFamiliy()'>Style</button>
        <ul ng-show="displayFamiliy" class="meditor-additional-options">
          <li ng-repeat="item in familyOptions">
            <button ng-click="changeFamily(item)">{{item.label}}</button>
          </li>
        </ul>
      </li>
      <li>
          <button ng-click='showFontSize()'>Size</button>
          <ul ng-show="displaySize" class="meditor-additional-options">
            <li ng-repeat="item in sizeOptions">
              <button ng-click="changeSize(item)">{{item.label}}</button>
            </li>
          </ul>
        </li>
      <li>
        <input type="color" ng-model="color" class="meditor-button-align-left"/>
      </li>
    </ul>
  </div>
  <div class="angular-meditor-content" contenteditable meditor-contenteditable ng-model="model.ngModel" ng-transclude></div>
</div>
