---
layout: page.html
title: 'Demo'
---

<section class="row">

	<div class="large-12 columns" meditor>
		<p>There is a hoary myth that anarchists do not believe in organization to promote revolutionary activity. This myth was raised from its resting place by Marcuse in a L'Express interview some months ago and reiterated again by Huey Newton in his "In Defence of Self-Defence," which New Left Notes decided to reprint in the recent National Convention issue. </p>

		<p>To argue the question of "organization" versus "non-organization" is ridiculous; this issue has never been in dispute among serious anarchists, except perhaps for those lonely "individualists" whose ideology is rooted more in an extreme variant of classical liberalism than anarchy. Yes, anarchists believe in organization - in national organization and international organization. Anarchist organization have ranged from loose, highly decentralized groups to "vanguard" movements of many thousands, like the Spanish FAI, which functioned in a highly concerted fashion. </p>

		<p>The real question at issue is not organization versus non-organization, but rather, what kind of organization. What different kinds of anarchist organizations have in common is that they are developed organically from below, not engineered into existence from above. They are social movements, combining a creative revolutionary life-style with a creative revolutionary theory, not political parties, whose node of life is indistinguishable from the surrounding rounding bourgeois environment and whose ideology is reduced to rigid "tried-and-tested programs." They try to reflect as much as is humanly possible the liberated society they seek to achieve, not slavishly duplicate the prevailing system of hierarchy, class, and authority. They are built around intimate groups of brothers and sisters, whose ability to act in common is based on initiative, convictions freely arrived at, and deep personal involvement, not a bureaucratic apparatus, fleshed out by docile memberships and manipulated from the top by a handful of all-knowing "leaders." </p>
	</div>

</section>
