<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>angular-meditor: Simple floating text editor for Angular, inspired by Medium - {{ title }}</title>
	<meta name="description" content="Simple floating text editor for Angular, inspired by Medium.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="dist/bower_components/normalize-css/normalize.css">
	<link rel="stylesheet" href="dist/bower_components/font-awesome/css/font-awesome.css">

	<!-- build:css({.tmp,app}) dist/styles/main.css -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- endbuild -->

	<!-- build:css({.tmp,app}) dist/styles/meditor.css -->
	<link rel="stylesheet" href="styles/meditor.css">
	<!-- endbuild -->
</head>
<body ng-app="meditorDemo">

	<!--[if lt IE 9]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<header class="row">
		<div class="large-12 columns text-center">
			<a href="https://github.com/ghinda/angular-meditor" class="button radius right">
				<i class="fa fa-github"></i>
				GitHub
			</a>
			<h1>angular-meditor</h1>
		</div>
	</header>

	{{> body }}

	<footer class="row">
		<div class="large-7 columns">
			<p>
				<a href="http://ghinda.net/angular-meditor" class="copy">angular-meditor</a> is a project by <a href="http://ghinda.net">Ionuț Colceriu</a>.
			</p>
		</div>
	</footer>

	<script src="bower_components/jquery/jquery.js"></script>

	<!-- build:js dist/scripts/plugins.js -->
	<script src="dist/bower_components/angular/angular.js"></script>
	<script src="dist/bower_components/angular-route/angular-route.js"></script>
	<script src="dist/bower_components/foundation/js/foundation/foundation.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) dist/scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/main.js"></script>
	<!-- endbuild -->

	<!-- build:js({.tmp,app}) dist/scripts/meditor.js -->
	<script src="scripts/directives/editor.js"></script>
	<script src="scripts/templates.js"></script>
	<!-- endbuild -->

</body>
</html>
